<!doctype html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Marketplace</title>
    </head>
    <body>
        <nav class="p-6 flex justify-between border-b border-gray-200">
            <a href="{% url 'core:index' %}" class="text-xl font-semibold hover:text-gray-600">Marketplace</a>
            <div>
                <a href="#" class="text-lg px-6 py-3 rounded-lg bg-teal-500 text-white hover:bg-teal-600">Sign up</a>
                <a href="#" class="text-lg px-6 py-3 rounded-lg bg-gray-500 text-white hover:bg-gray-600">Login</a>
            </div>
        </nav>

        <div class="grid grid-cols-3 p-10 gap-10 bg-gray-100">
            <div class="p-6 rounded-lg bg-white shadow">
                <p>One</p>
            </div>
            <div class="p-6 rounded-xl bg-white">
                <p>Two</p>
            </div>
            <div class="p-6 rounded-xl bg-white">
                <p>Three</p>
            </div>
            <div class="p-6 rounded-xl bg-white">
                <p>Four</p>
            </div>
        </div>

    </body>
</html>
