{% extends 'core/base.html' %}

{% block content %}
    <div class="grid grid-cols-3 p-10 gap-10 bg-gray-100">
        <div class="p-6 rounded-lg bg-white shadow">
            <p>One</p>
        </div>
        <div class="p-6 rounded-lg bg-white shadow">
            <p>Two</p>
        </div>
        <div class="p-6 rounded-lg bg-white shadow">
            <p>Three</p>
        </div>
        <div class="p-6 rounded-lg bg-white shadow">
            <p>Four</p>
        </div>
    </div>
{% endblock %}